
.total{
    /* margin-top: 70px;
    
    margin-bottom: 20px; */
    height: 400px;
    width: 450px;
    margin: auto; 
    border:2px solid black;


}
.head{
  height: 50px;
    /* margin: 30px 150px 20px 150px; */
    position: relative;
    top: 30px;
    left: 150px;
    bottom: 20px;
    
}
.name{
    /* margin: 10px 50px 5px 25px; */
    height: 25px;
    width: 300px;
   /* margin-left: 60px; */
   position: relative;
   top: 80px;
   left: 60px;
}
.pass{
    /* margin: 5px 50px 5px 25px; */
    height: 25px;
    width: 300px;
    /* margin-left: 60px; */
    position: relative;
    top: 110px;
    left: 60px;
}
.log{
    /* margin: 10px 50px 10px 50px; */
    height: 30px;
    width: 308px;
    /* margin-left: 60px; */
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: relative;
    top: 150px;
    left: 60px;
    
}
.face{
    text-align: center;
    position: relative;
    top: 155px;
    right: 10px;
}
.for{
    text-align: center;
    position: relative;
    top: 155px;
    
}

.acc{
    
    height: 70px;
    width: 450px;
    margin: auto;
    border: 1px solid black;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    position: relative;
    top: 30px;
    bottom: 10px;
}
.sngi{
    text-align: center;
}
   

.app{
    text-align: center;
    height: 30px;
    margin: auto;
    position: relative;
    top: 50px;
}

.down{
    height: 50px;
    width:150px;
    
    
}

.play{
    height: 50px;
    width: 150px; 
  
}



.footer_img{
    display: flex;

    width: 250px;
    /* margin: auto; */
    position: relative;
    top: 50px;
    left: 620px;
}

.about{
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 450px;
    /* margin: auto; */
    color: blue;
    position: relative;
    top: 50px;
    left: 540px;
}